* 
.button { 
    align-items: center;
}

.routeBtn { 
    background-color: rgb(102, 84, 148);
    padding: 6px 6px; 
    border-radius: 2px; 
    width: 5%; 
    color: whitesmoke; 
    font-weight: 50px; 
    letter-spacing: 0.5px; 
    cursor: pointer; 
    display: inline-block;
    margin-left: 10px;
}

.actionBtn { 
    background-color: rgb(102, 84, 148);
    padding: 6px 6px; 
    border-radius: 2px; 
    width: 5%; 
    color: whitesmoke; 
    font-weight: 50px; 
    letter-spacing: 0.5px; 
    cursor: pointer; 
    display: inline-block;
    margin-left: 10px;
}

